<p> <b>Số chứng minh nhân dân:</b> <%= @citizen.cmnd %> </p>
<p> <b>Họ và tên:</b> <%= @citizen.name %> </p>
<p> <b>Ngày sinh:</b> <%= @citizen.birthday %> </p>
<p> <b>Giới tính:</b> <%= @citizen.sex %> </p>
<p> <b>Quê quán:</b> <%= @citizen.hometown %> </p>
<p> <b>Địa chỉ thường trú:</b> <%= @citizen.paddress %> </p>
<p> <b>Địa chỉ tạm trú:</b> <%= @citizen.traddress %> </p>
<p> <b>Tôn giáo:</b> <%= @citizen.religion %> </p>
<p> <b>Trình độ văn hóa:</b><%= @citizen.edulevel %> </p>
<p> <b>Nghề nghiệp:</b> <%= @citizen.job %> </p>
<p> <b>Mã vùng:</b> <%= @citizen.code %> </p>

